#container {
	width: 400px;
	height: 400px;
	position: relative;
	background: black;
	margin: 0 auto;
}

#animate {
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: none;
	vertical-align: middle;
	text-align: center;
}

#wrapper {
    text-align: center;
}